.App {
  text-align: center;
}

.body {
  background: #ffffff 0% 0% no-repeat padding-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  width: 738px;
  height: 61px;
  font-family: Montserrat;
  font-size: 50px;
  letter-spacing: 0px;
  color: #36006c;
}

.game-description {
  width: 754px;
  height: 134px;
  text-align: left;
  font: normal normal 300 21px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.54;
}

.select-title {
  font: normal normal 500 21px Montserrat;
  letter-spacing: 0px;
  color: #000000;
}
